body{
  background-color: lightseagreen;
}

.navbar{
  background-color: black;
  margin-bottom: 30px;
  padding: 30px;
  width: 1300px;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}



#flex-container{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 4%;
}

#photo{
    height: 200px;
    width: 300px;
}

#Flex-basic{
    flex-basis: 22%;
    margin: 0;
    padding: 0;
  }

  #lorem{
    padding-bottom: 1px;
    background-color: black;
    color: white;
    margin-top: -20px;
  }

 
 #flex-container2{   
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 4%;
}

#photo2{
    height: 200px;
    width: 650px;
}

#Flex-basic2{
    flex-basis: 22%;
    margin: 0;
    padding: 0;
  }

#lorem2{
    padding-bottom: 1px;
    background-color: black;
    color: white;
    margin-top: -20px;
 }

 #flex-container3{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 4%;
}

#photo3{
    height: 200px;
    width: 985px;
}

#photo4{
  
    height: 200px;
    width: 300px;
    
    }



#Flex-basic3{
   
    flex-basis: 22%;
    margin: 0;
    padding: 0;
  }

#lorem3 {     
  padding-bottom: 1px;
    background-color: black;
    color: white;
    margin-top: -20px;
}

#flex-container4{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    
} 

#photo5{
    height: 200px;
    width: 1340px;
}


#Flex-basic4{
    flex-basis: 22%;
    margin: 0;
    padding: 0;
  }

#lorem4{     
  padding-bottom: 1px;
    background-color: black;
    color: white;
    margin-top: -20px;
}

#flex-container5{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 4%;
}

#photo6{
    height: 200px;
    width: 300px;
}

#photo7{
    height: 200px;
    width: 650px;
}


#Flex-basic5{
    flex-basis: 22%;
    margin: 0;
    padding: 0;
  }

  #lorem5{
    padding-bottom: 1px;
    background-color: black;
    color: white;
    margin-top: -20px;
  }
  
  .footer{
    background-color: black;
    margin-top: 40px;
    padding-top: 50px;
    height: 50px;
    width: 1350;
    text-align: center;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }